@model IEnumerable<NAPSOMIS_Webpoint.Models.mem_tr>

@{
    ViewBag.Title = "Forms";
}


<div class="content" style="width:inherit; height:inherit; overflow-y:auto; overflow-x:auto;">

    <table class="table table-condensed table-hover table-responsive table-bordered" style="white-space:nowrap; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        <tr>
            
            <th class=whitesmokeheader>
                @Html.DisplayNameFor(model => model.fref_no)
            </th> 
            <th class=whitesmokeheader>
                @Html.DisplayNameFor(model => model.fsurname)
            </th>
            <th class=whitesmokeheader>
                @Html.DisplayNameFor(model => model.firstname)
            </th>
            <th class=whitesmokeheader>
                @Html.DisplayNameFor(model => model.fothname)
            </th> 
            <th class=whitesmokeheader>
                <text>Created On</text>
            </th> 
            <th class=whitesmokeheader>
                <text>Modified On</text>
            </th>
            <th class=whitesmokeheader>
                <text>Created By</text>
            </th>
            <th class=whitesmokeheader>
                <text>Modified By</text>
            </th>
            <th class=whitesmokeheader></th>
        </tr>

        @{
            try
                {
                foreach (var item in Model)
                    {
                    <tr>
                         
                        <td>
                            @Html.DisplayFor(modelItem => item.fref_no)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.fsurname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.firstname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fothname)
                        </td> 
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn) 
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedOn) 
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy) 
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedBy) 
                        </td>

                    </tr>
                    }

                }
            catch (Exception)
                {


                }
        }


    </table>
</div>