@model IEnumerable<NAPSOMIS_Webpoint.Models.mper_mst>

@{
    ViewBag.Title = "Data Capturing Search View";
}


<div class="content" style="width:inherit; height:inherit; overflow-y:auto; overflow-x:auto;">

    <table class="table table-condensed table-hover table-responsive table-bordered" style="white-space:nowrap; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        <tr>
            <th class=whitesmokeheader>Action</th>
           
             <th class=whitesmokeheader>
                @Html.DisplayNameFor(model => model.fsurname)
            </th>
            <th class=whitesmokeheader>
                @Html.DisplayNameFor(model => model.firstname)
            </th>
            <th class=whitesmokeheader>
                @Html.DisplayNameFor(model => model.fothname)
            </th>
            <th class=whitesmokeheader>
                @Html.DisplayNameFor(model => model.fssno)
            </th>
            <th class=whitesmokeheader>
                @Html.DisplayNameFor(model => model.fsex)
            </th>
            <th class=whitesmokeheader>
                @Html.DisplayNameFor(model => model.fref_no)
            </th>
          
        </tr>

        @{
            try
                {
                foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.ActionLink("Display", "MemberMasterFileSearch_Display", new { Controller = "Contribution", id = item.fref_no }) |
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fsurname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.firstname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fothname)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.fssno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fsex)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fref_no)
                        </td>
                      
                    </tr>
                    }

                }
            catch (Exception)
                {


                }
        }


    </table>
</div>

