
<!DOCTYPE html>
<html>
<head>

    @*@Html.DevExpress().GetStyleSheets(ASPxWebClientUIControl.ColorSchemeLight,
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "PlasticBlue" }
    )
    
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout }
    )*@
    
</head>

<body>
    @*<div class="panelContent">*@
    <div class="panelContent" style="height:30px;">
        <div class="navbar-header" style="height:30px; padding-top:0px;">
            @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@

            <div class="row customers" style="width: auto;  ">
                <div class="col-md-6" style="width:auto;">
                    @*<img style="vertical-align:middle;width:70px; height:50px;" alt="" src="~/Content/Images/logo-new.png">*@
                </div>

                <div class="col-md-6" style="width:auto;height:30px; padding-top:0px; background-color:whitesmoke; color:darkorange;">
                    @Html.ActionLink("NAPSOMIS Webpoint", "Home", "Pages", null, new { @class = "navbar-brand", Style = "color:darkorange;padding-top:8px; font-size:medium;" })
                </div>
            </div>

        </div>

        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav" style="padding-left:30px;">

                @Html.DevExpress().Menu(settings =>
           {
               settings.Name = "mFeatures";
               settings.AllowSelectItem = true;
               settings.EnableHotTrack = true;
               settings.EnableAnimation = true;
               settings.AppearAfter = 10;
               settings.DisappearAfter = 10;

               //settings.MaximumDisplayLevels = 10;
               settings.ShowPopOutImages = DefaultBoolean.True;
               //settings.ShowAsToolbar = true;
               settings.Height = 30;

               settings.Items.Add(item =>
               {
                   item.Text = "Getting Started";
                   item.Items.Add("Home", "home", "", "/Pages/Home");
                   item.Items.Add("About US", "about", "", "/Pages/About");
                   item.Items.Add("About NAPSOMIS", "aboutnapsomis", "", "/Pages/About");
                   item.Items.Add("Contact", "contact", "", "/Pages/Contact");
                   item.Items.Add("Administration", "administration", "", "/Pages/Administration");

               });

               settings.Items.Add(item =>
               {
                   item.Text = "Operations";

                   item.Items.Add(subItem =>
                   {

                       subItem.Text = "Member Registration";

                       subItem.Items.Add("Receive Forms", "receiveform", "", "/ReceiveForms/ReceiveForms");
                       subItem.Items.Add("Capture Registration Forms", "captureregisform", "", "/CaptureRegistrationForms/CaptureRegistrationForms");

                       subItem.Items.Add("Capture Government Employees", "captureGE", "", "/CaptureGovernmentEmployees/Form");
                       subItem.Items.Add("Edit Government Employees", "", "", "/CaptureGovernmentEmployees/EditForm");

                       subItem.Items.Add("Print Checklist", "checklist", "", "/CheckList/PrintCheckList");

                       subItem.Items.Add("Search Members", "searchchecklist", "", "/CheckList/ListMembersCheckList");

                       subItem.Items.Add("Edit Captured Records", "", "", "/CaptureRegistrationForms/EditForm");
                       subItem.Items.Add("Delete Records", "", "", "/");

                       subItem.Items.Add("List of Forms Received", "", "", "/ListofForms/SearchList");
                       subItem.Items.Add("List Generated Numbers for an Establishment", "", "", "/");


                   });

                   item.Items.Add(subItem =>
                   {

                       subItem.Text = "Inspectorate";

                       subItem.Items.Add("Inspection", "", "", "/");
                       subItem.Items.Add("Interest Administration", "", "", "/");

                       subItem.Items.Add("Clearance Certificate", "", "", "/");
                       subItem.Items.Add("Negotiated Arears", "", "", "/");

                   });

                   item.Items.Add(subItem =>
                   {

                       subItem.Text = "Data Control";

                       subItem.Items.Add("Establishment Registration", "", "", "/");
                       subItem.Items.Add("Generate Reference No", "generaterefno", "", "/ReferenceNos/ReferenceNos");
                       subItem.Items.Add("Add Member to Credit Purchase List", "", "", "/");

                       subItem.Items.Add("Receive Contribution Report", "", "", "/");
                       subItem.Items.Add("View Contribution Reports Received from an Establishment for given Periods", "", "", "/");

                       subItem.Items.Add("Process Hardcopy Contribution Reports", "", "", "/");
                       subItem.Items.Add("Capture Old Cr", "", "", "/");
                       subItem.Items.Add("Capture Backpay", "", "", "/");
                       subItem.Items.Add("View Short Payment", "", "", "/");
                       subItem.Items.Add("Capture Short Payments", "", "", "/");
                       subItem.Items.Add("Process Softcopy Contribution Reports", "", "", "/");
                       subItem.Items.Add("Change Staff Category", "", "", "/");

                       subItem.Items.Add("View Members Unver Establishment", "", "", "/");
                       subItem.Items.Add("Member Statement", "", "", "/");
                       subItem.Items.Add("List Invalid Numbers ...", "", "", "/");
                       subItem.Items.Add("List Invalid Numbers by Category", "", "", "/");
                       subItem.Items.Add("Member Master File Search", "", "", "/");
                       subItem.Items.Add("Member Identification", "", "", "/");
                       subItem.Items.Add("Establishment With Valid Numbers", "", "", "/");

                       subItem.Items.Add("Reverse Captured Contribution Reports", "", "", "/");
                       subItem.Items.Add("Correct Invalid Numbers", "", "", "/");

                       subItem.Items.Add("Member Credit Processing", "", "", "/");
                   });

                   item.Items.Add(subItem =>
                   {

                       subItem.Text = "Benefits";

                       subItem.Items.Add("Receive Member Application", "", "", "/");
                       subItem.Items.Add("Capture Member Application", "", "", "/");
                       subItem.Items.Add("Edit Member Application", "", "", "/");
                       subItem.Items.Add("Approve Application", "", "", "/");
                       subItem.Items.Add("Re-approve Application", "", "", "/");

                       subItem.Items.Add("Receive Death Report", "", "", "/");
                       subItem.Items.Add("Edit Death Report", "", "", "/");
                       subItem.Items.Add("Confirm Death Report", "", "", "/");

                       subItem.Items.Add("View Released Dependants", "", "", "/");
                       subItem.Items.Add("Receive/Edit Dependant Application", "", "", "/");
                       subItem.Items.Add("Approve Dependant Application", "", "", "/");

                       subItem.Items.Add("List Applications for the Day", "", "", "/");
                       subItem.Items.Add("Print Checklist", "", "", "/");
                       subItem.Items.Add("Print Transfer Checklist", "", "", "/");
                       subItem.Items.Add("Transfer Data", "", "", "/");

                       subItem.Items.Add("Read Benefit Information", "", "", "/");

                       subItem.Items.Add("Pay Member", "", "", "/");
                       subItem.Items.Add("Pay Dependant", "", "", "/");

                       subItem.Items.Add("Re-print Acknowledgement", "", "", "/");
                       subItem.Items.Add("Re-print Dependant Acknowledgement", "", "", "/");

                       subItem.Items.Add("Reports", "", "", "/");
                       subItem.Items.Add("Government Pension", "", "", "/");

                   });

                   item.Items.Add(subItem =>
                   {

                       subItem.Text = "Prosecutions";

                       subItem.Items.Add("Add Establishment to List", "", "", "/");
                       subItem.Items.Add("End Prosecutions", "", "", "/");

                       subItem.Items.Add("View Establishment on Prosecution", "", "", "/");
                       subItem.Items.Add("View Establishments on Judgement Debt", "", "", "/");

                   });

               });

               settings.Items.Add(subItem =>
               {

                   subItem.Text = "Accounts";

                   subItem.Items.Add("On-Line Receipt Payment", "", "", "/");
                   subItem.Items.Add("Purchase Credit", "", "", "/");
                   subItem.Items.Add("Manual Receipt Capture (Credit Purchase)", "", "", "/");
                   subItem.Items.Add("Manual Receipt Capture", "", "", "/");

                   subItem.Items.Add("NASSIT Journal Payments", "", "", "/");

                   subItem.Items.Add("Capture Bank Lodgement", "", "", "/");
                   subItem.Items.Add("Daily Cash Control Entries", "", "", "/");
                   subItem.Items.Add("Cash Control Report", "", "", "/");
                   subItem.Items.Add("Cheque Control Report", "", "", "/");
                   subItem.Items.Add("Bank Lodgement Report", "", "", "/");

                   subItem.Items.Add("Generate Sun Transaction", "", "", "/");
                   subItem.Items.Add("Transfer Sun Transaction", "", "", "/");
                   subItem.Items.Add("Move Transaction for Re-transfer", "", "", "/");

                   subItem.Items.Add("Reverse Payments", "", "", "/");

                   subItem.Items.Add("Daily Activity Reports", "", "", "/");
                   subItem.Items.Add("Print Payment with Codes", "", "", "/");


               });

               settings.Items.Add(subItem =>
               {

                   subItem.Text = "MIS";
                   subItem.Items.Add("Inspectorate", "", "", "/");

                   subItem.Items.Add("Accounts", "", "", "/");

                   subItem.Items.Add("Generate Zero Debits", "", "", "/");
                   subItem.Items.Add("Register New Establishment", "", "", "/");
                   subItem.Items.Add("Edit Establishment Information", "", "", "/");
                   subItem.Items.Add("Deactivate Establishment", "", "", "/");
                   subItem.Items.Add("Create Cash Point", "", "", "/");
                   subItem.Items.Add("Delete Prosecution Record", "", "", "/");

               });

               settings.Items.Add(subItem =>
               {

                   subItem.Text = "Utilities";
                   subItem.Items.Add("Validate Number", "", "", "/");
                   subItem.Items.Add("Setup", "", "", "/");
                   subItem.Items.Add("File Operations", "", "", "/");
                   subItem.Items.Add("Data Transfers", "", "", "/");

                   subItem.Items.Add("Update Member Master Tables", "", "", "/");
               });

               settings.Items.Add(subItem =>
               {

                   subItem.Text = "Customer Services";

                   subItem.Items.Add("Member Master File Query", "", "", "/");
                   subItem.Items.Add("Member Identification", "", "", "/");
                   subItem.Items.Add("Employer File Query", "", "", "/");
                   subItem.Items.Add("Empoyees Under an Establishment", "", "", "/");
                   subItem.Items.Add("Removed Employees of an Establishment", "", "", "/");
                   subItem.Items.Add("Contribution Details", "", "", "/");
                   subItem.Items.Add("Quarterly Pre-printed", "", "", "/");
                   subItem.Items.Add("Member Statement", "", "", "/");
                   subItem.Items.Add("Details of Credit Purchased", "", "", "/");

               });

               settings.Items.Add(subItem =>
               {

                   subItem.Text = "Reports";

                   subItem.Items.Add("Newly Registered Establishment", "", "", "/");
                   subItem.Items.Add("List of Active Establishments", "", "", "/");
                   subItem.Items.Add("List Establishments By", "", "", "/");
                   subItem.Items.Add("List of Dormant/Closed Down Establishments", "", "", "/");
                   subItem.Items.Add("List of Reactivated Establishments", "", "", "/");

                   subItem.Items.Add("Establishment Payment Details", "", "", "/");
                   subItem.Items.Add("Establishments that paid ...", "", "", "/");
                   subItem.Items.Add("Establishments that paid For a Perios in Same Period", "", "", "/");
                   subItem.Items.Add("Defaulters ...", "", "", "/");
                   subItem.Items.Add("Payments on a Receipt", "", "", "/");
                   subItem.Items.Add("CR/Payments", "", "", "/");

                   subItem.Items.Add("Monthly Reports", "", "", "/");
               });

           }).GetHtml()

            </ul>

            @*<ul class="nav navbar-nav" style="padding-left:30px;">
                <text style="color:midnightblue; padding-left:10px; font-size:small;">Welcome: </text>
                <text style="color:midnightblue; padding-left:10px; font-size:large;"> Mohammed Turay</text>

            </ul>*@

        </div>
 
            

        </div>

</body>
</html>


@*<div class='title'>
        <a href="@Url.Action("Home", "Pages")">NAPSOMIS Webpoint</a>
        <p class="small">Mobile friendly</p>
    </div>
    <div class="panelContent">
        <div class="pull-right">
            <div class="panelItem">
                @Html.DevExpress().Menu(m => {

                    m.Name = "NavMenu";
                    m.EnableAnimation = true;
                    m.ControlStyle.CssClass = "navMenu";
                    m.Styles.Item.Paddings.PaddingLeft = 22;
                    m.Styles.Item.Paddings.PaddingRight = 22;

                    m.Items.Add("HOME").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Pages", Action = "Home" });
                    m.Items.Add("NASSIT BLOG").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Pages", Action = "BlogTimeline" });
                    m.Items.Add("CONTACT US").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Pages", Action = "Contacts" });
                    m.Items.Add("LOGIN").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Pages", Action = "Contacts" });

           }).GetHtml()
            </div>
            @if(ViewBag.ShowSearchEditor == null || ViewBag.ShowSearchEditor) {
            <div class="panelItem">
                <script>
                    function OnSearchKeyUp(s, e) {
                        if(e.htmlEvent.keyCode == 13) {
                            OnSearchClick();
                        }
                    }
                    function OnSearchClick(){
                        $('#searchForm').submit();
                    }
                </script>
                @using(Html.BeginForm("Search", "Pages", FormMethod.Post, new { id = "searchForm" })) {
                    Html.DevExpress().ButtonEdit(be => {
                        be.Name = "Query";
                        be.Properties.NullText = "Search in blog";
                        be.ControlStyle.CssClass = "searchBox";
                        be.Properties.ButtonStyle.CssClass = "glyphicon glyphicon-search searchBoxButton";
                        be.Properties.Buttons.Add();
                        be.Properties.ClientSideEvents.ButtonClick = "OnSearchClick";
                        be.Properties.ClientSideEvents.KeyUp = "OnSearchKeyUp";
                    }).Render();
                }
            </div>
            }
        </div>
        <div class="clearfix"></div>
    </div> *@
