
<!DOCTYPE html>
<html>

<body>
    @*<div class="panelContent">*@
    <div class="panelContent" style="height:30px;">
        <div class="navbar-header" style="height:30px; padding-top:0px;">
            @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@

            <div class="row customers" style="width: auto;  ">
                <div class="col-md-6" style="width:auto;">
                    @*<img style="vertical-align:middle;width:70px; height:50px;" alt="" src="~/Content/Images/logo-new.png">*@
                </div>

                <div class="col-md-6" style="width:auto;height:30px; padding-top:0px; background-color:whitesmoke; color:darkorange;">
                    @Html.ActionLink("NAPSOMIS Webpoint", "Home", "Pages", null, new { @class = "navbar-brand", Style = "color:darkorange;padding-top:8px; font-size:medium;" })
                </div>
            </div>

        </div>

        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav" style="padding-left:30px;">

                @Html.DevExpress().Menu(settings =>
           {
               settings.Name = "mFeatures";
               settings.AllowSelectItem = true;
               settings.EnableHotTrack = true;
               settings.EnableAnimation = true;
               settings.AppearAfter = 10;
               settings.DisappearAfter = 10;

               //settings.MaximumDisplayLevels = 10;
               settings.ShowPopOutImages = DefaultBoolean.True;
               //settings.ShowAsToolbar = true;
               settings.Height = 30;

               settings.Items.Add(item =>
               {
                   item.Text = "Getting Started";
                   item.Items.Add("Home", "home", "", "/Pages/Home");
                   item.Items.Add("About US", "about", "", "/Pages/About");
                   item.Items.Add("About NAPSOMIS", "aboutnapsomis", "", "/Pages/About");
                   item.Items.Add("Contact", "contact", "", "/Pages/Contact");
                   item.Items.Add("Administration", "administration", "", "/Pages/Administration");

               });

               settings.Items.Add(item =>
               {
                   item.Text = "Operations";

                   item.Items.Add(subItem =>
                   {

                       subItem.Text = "Member Registration";

                       subItem.Items.Add("Receive Forms", "receiveform", "", "/ReceiveForms/ReceiveForms");
                       subItem.Items.Add("Capture Registration Forms", "captureregisform", "", "/CaptureRegistrationForms/CaptureRegistrationForms");

                       subItem.Items.Add("Capture Government Employees", "", "", "/");
                       subItem.Items.Add("Edit Government Employees", "", "", "/");

                       subItem.Items.Add("Print Checklist", "checklist", "", "/CheckList/PrintCheckList");

                       subItem.Items.Add("Search Members", "searchchecklist", "", "/CheckList/ListMembersCheckList");

                       subItem.Items.Add("Edit Captured Records", "", "", "/");
                       subItem.Items.Add("Delete Records", "", "", "/");

                       subItem.Items.Add("List of Forms Received", "", "", "/");
                       subItem.Items.Add("List Generated Numbers for an Establishment", "", "", "/");


                   });

                   item.Items.Add(subItem =>
                   {

                       subItem.Text = "Inspectorate";

                       subItem.Items.Add("Inspection", "", "", "/");
                       subItem.Items.Add("Interest Administration", "", "", "/");

                       subItem.Items.Add("Clearance Certificate", "", "", "/");
                       subItem.Items.Add("Negotiated Arears", "", "", "/");

                   });

                   item.Items.Add(subItem =>
                   {

                       subItem.Text = "Data Control";

                       subItem.Items.Add("Establishment Registration", "", "", "/");
                       subItem.Items.Add("Generate Reference No", "generaterefno", "", "/ReferenceNos/ReferenceNos");
                       subItem.Items.Add("Add Member to Credit Purchase List", "", "", "/");

                       subItem.Items.Add("Receive Contribution Report", "", "", "/");
                       subItem.Items.Add("View Contribution Reports Received from an Establishment for given Periods", "", "", "/");

                       subItem.Items.Add("Process Hardcopy Contribution Reports", "", "", "/");
                       subItem.Items.Add("Capture Old Cr", "", "", "/");
                       subItem.Items.Add("Capture Backpay", "", "", "/");
                       subItem.Items.Add("View Short Payment", "", "", "/");
                       subItem.Items.Add("Capture Short Payments", "", "", "/");
                       subItem.Items.Add("Process Softcopy Contribution Reports", "", "", "/");
                       subItem.Items.Add("Change Staff Category", "", "", "/");

                       subItem.Items.Add("View Members Unver Establishment", "", "", "/");
                       subItem.Items.Add("Member Statement", "", "", "/");
                       subItem.Items.Add("List Invalid Numbers ...", "", "", "/");
                       subItem.Items.Add("List Invalid Numbers by Category", "", "", "/");
                       subItem.Items.Add("Member Master File Search", "", "", "/");
                       subItem.Items.Add("Member Identification", "", "", "/");
                       subItem.Items.Add("Establishment With Valid Numbers", "", "", "/");

                       subItem.Items.Add("Reverse Captured Contribution Reports", "", "", "/");
                       subItem.Items.Add("Correct Invalid Numbers", "", "", "/");

                       subItem.Items.Add("Member Credit Processing", "", "", "/");
                   });

                   item.Items.Add(subItem =>
                   {

                       subItem.Text = "Benefits";

                       subItem.Items.Add("Receive Member Application", "", "", "/");
                       subItem.Items.Add("Capture Member Application", "", "", "/");
                       subItem.Items.Add("Edit Member Application", "", "", "/");
                       subItem.Items.Add("Approve Application", "", "", "/");
                       subItem.Items.Add("Re-approve Application", "", "", "/");

                       subItem.Items.Add("Receive Death Report", "", "", "/");
                       subItem.Items.Add("Edit Death Report", "", "", "/");
                       subItem.Items.Add("Confirm Death Report", "", "", "/");

                       subItem.Items.Add("View Released Dependants", "", "", "/");
                       subItem.Items.Add("Receive/Edit Dependant Application", "", "", "/");
                       subItem.Items.Add("Approve Dependant Application", "", "", "/");

                       subItem.Items.Add("List Applications for the Day", "", "", "/");
                       subItem.Items.Add("Print Checklist", "", "", "/");
                       subItem.Items.Add("Print Transfer Checklist", "", "", "/");
                       subItem.Items.Add("Transfer Data", "", "", "/");

                       subItem.Items.Add("Read Benefit Information", "", "", "/");

                       subItem.Items.Add("Pay Member", "", "", "/");
                       subItem.Items.Add("Pay Dependant", "", "", "/");

                       subItem.Items.Add("Re-print Acknowledgement", "", "", "/");
                       subItem.Items.Add("Re-print Dependant Acknowledgement", "", "", "/");

                       subItem.Items.Add("Reports", "", "", "/");
                       subItem.Items.Add("Government Pension", "", "", "/");

                   });

                   item.Items.Add(subItem =>
                   {

                       subItem.Text = "Prosecutions";

                       subItem.Items.Add("Add Establishment to List", "", "", "/");
                       subItem.Items.Add("End Prosecutions", "", "", "/");

                       subItem.Items.Add("View Establishment on Prosecution", "", "", "/");
                       subItem.Items.Add("View Establishments on Judgement Debt", "", "", "/");

                   });

               });

               settings.Items.Add(subItem =>
               {

                   subItem.Text = "Accounts";

                   subItem.Items.Add("On-Line Receipt Payment", "", "", "/");
                   subItem.Items.Add("Purchase Credit", "", "", "/");
                   subItem.Items.Add("Manual Receipt Capture (Credit Purchase)", "", "", "/");
                   subItem.Items.Add("Manual Receipt Capture", "", "", "/");

                   subItem.Items.Add("NASSIT Journal Payments", "", "", "/");

                   subItem.Items.Add("Capture Bank Lodgement", "", "", "/");
                   subItem.Items.Add("Daily Cash Control Entries", "", "", "/");
                   subItem.Items.Add("Cash Control Report", "", "", "/");
                   subItem.Items.Add("Cheque Control Report", "", "", "/");
                   subItem.Items.Add("Bank Lodgement Report", "", "", "/");

                   subItem.Items.Add("Generate Sun Transaction", "", "", "/");
                   subItem.Items.Add("Transfer Sun Transaction", "", "", "/");
                   subItem.Items.Add("Move Transaction for Re-transfer", "", "", "/");

                   subItem.Items.Add("Reverse Payments", "", "", "/");

                   subItem.Items.Add("Daily Activity Reports", "", "", "/");
                   subItem.Items.Add("Print Payment with Codes", "", "", "/");


               });

               settings.Items.Add(subItem =>
               {

                   subItem.Text = "MIS";
                   subItem.Items.Add("Inspectorate", "", "", "/");

                   subItem.Items.Add("Accounts", "", "", "/");

                   subItem.Items.Add("Generate Zero Debits", "", "", "/");
                   subItem.Items.Add("Register New Establishment", "", "", "/");
                   subItem.Items.Add("Edit Establishment Information", "", "", "/");
                   subItem.Items.Add("Deactivate Establishment", "", "", "/");
                   subItem.Items.Add("Create Cash Point", "", "", "/");
                   subItem.Items.Add("Delete Prosecution Record", "", "", "/");

               });

               settings.Items.Add(subItem =>
               {

                   subItem.Text = "Utilities";
                   subItem.Items.Add("Validate Number", "", "", "/");
                   subItem.Items.Add("Setup", "", "", "/");
                   subItem.Items.Add("File Operations", "", "", "/");
                   subItem.Items.Add("Data Transfers", "", "", "/");

                   subItem.Items.Add("Update Member Master Tables", "", "", "/");
               });

               settings.Items.Add(subItem =>
               {

                   subItem.Text = "Customer Services";

                   subItem.Items.Add("Member Master File Query", "", "", "/");
                   subItem.Items.Add("Member Identification", "", "", "/");
                   subItem.Items.Add("Employer File Query", "", "", "/");
                   subItem.Items.Add("Empoyees Under an Establishment", "", "", "/");
                   subItem.Items.Add("Removed Employees of an Establishment", "", "", "/");
                   subItem.Items.Add("Contribution Details", "", "", "/");
                   subItem.Items.Add("Quarterly Pre-printed", "", "", "/");
                   subItem.Items.Add("Member Statement", "", "", "/");
                   subItem.Items.Add("Details of Credit Purchased", "", "", "/");

               });

               settings.Items.Add(subItem =>
               {

                   subItem.Text = "Reports";

                   subItem.Items.Add("Newly Registered Establishment", "", "", "/");
                   subItem.Items.Add("List of Active Establishments", "", "", "/");
                   subItem.Items.Add("List Establishments By", "", "", "/");
                   subItem.Items.Add("List of Dormant/Closed Down Establishments", "", "", "/");
                   subItem.Items.Add("List of Reactivated Establishments", "", "", "/");

                   subItem.Items.Add("Establishment Payment Details", "", "", "/");
                   subItem.Items.Add("Establishments that paid ...", "", "", "/");
                   subItem.Items.Add("Establishments that paid For a Perios in Same Period", "", "", "/");
                   subItem.Items.Add("Defaulters ...", "", "", "/");
                   subItem.Items.Add("Payments on a Receipt", "", "", "/");
                   subItem.Items.Add("CR/Payments", "", "", "/");

                   subItem.Items.Add("Monthly Reports", "", "", "/");
               });

           }).GetHtml()

            </ul>

            @*<ul class="nav navbar-nav" style="padding-left:30px;">
                <text style="color:midnightblue; padding-left:10px; font-size:small;">Welcome: </text>
                <text style="color:midnightblue; padding-left:10px; font-size:large;"> Mohammed Turay</text>

            </ul>*@

        </div>
 
           
 
                @*<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="padding-left:30px;">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Main<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Home", "Home", "Pages")</li>
                                <li>@Html.ActionLink("About", "BlogPosts", "Pages")</li>
                                <li>@Html.ActionLink("Contact", "Contacts", "Pages")</li>
                                <li>@Html.ActionLink("Administration", "Administration", "Pages")</li>
                             </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Operations<b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li class="dropdown-submenu">

                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Member Registration <img style="vertical-align:middle;width:10px; height:10px" alt="" src="~/Content/Images/go-next-view.png"></a>
                                    <ul class="dropdown-menu">

                                        <li>@Html.ActionLink("Receive Forms", "ReceiveForms", "ReceiveForms")</li>
                                        <li>@Html.ActionLink("Capture Registration Forms", "CaptureRegistrationForms", "CaptureRegistrationForms")</li>
                                    </ul>
                                </li>

                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Control  <img style="vertical-align:middle;width:10px; height:10px" alt="" src="~/Content/Images/go-next-view.png"></a>
                                    <ul class="dropdown-menu">

                                        <li>@Html.ActionLink("Generate Reference No", "ReferenceNos", "ReferenceNos")</li>

                                    </ul>
                                </li>



                            </ul>

                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Operations Second<b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pension Operations Set <img style="vertical-align:middle;width:10px; height:10px" alt="" src="~/Content/Images/go-next-view.png"></a>

                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Pension Cheque", "Index", "PensionCheques")</li>
                                        <li>@Html.ActionLink("Pension Date", "Index", "PensionDates")</li>
                                        <li>@Html.ActionLink("Pension Frequency", "Index", "PensionFrequencies")</li>
                                        <li>@Html.ActionLink("Pension Master", "Index", "PensionMasters")</li>
                                        <li>@Html.ActionLink("Pensions", "Index", "Pensions")</li>
                                        <li>@Html.ActionLink("Pension School Transaction", "Index", "PensionSchoolTransactions")</li>
                                        <li>@Html.ActionLink("Pensio Person", "Index", "PensioPersons")</li>
                                        <li>@Html.ActionLink("Stop Dependant Pension", "Index", "StopDependantPensions")</li>
                                        <li>@Html.ActionLink("Government Pension Master", "Index", "GovernmentPensionMasters")</li>
                                        <li>@Html.ActionLink("Government Pension SSN", "Index", "GovernmentPensionSSNs")</li>
                                        <li>@Html.ActionLink("C Pension Person", "Index", "CPensionPersons")</li>
                                        <li>@Html.ActionLink("C Pension School Transaction", "Index", "CPensionSchoolTransactions")</li>

                                    </ul>
                                </li>

                                <li class="dropdown-submenu">

                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions First <img style="vertical-align:middle;width:10px; height:10px" alt="" src="~/Content/Images/go-next-view.png"></a>
                                    <ul class="dropdown-menu">

                                        <li>@Html.ActionLink("Beneficiary Application Transation", "Index", "BeneficiaryTransactionTransactions")</li>
                                        <li>@Html.ActionLink("CDEP Application Transaction", "Index", "CDEPAppliationTransactions")</li>
                                        <li>@Html.ActionLink("Batch Transaction", "Index", "BatchTransactions")</li>
                                        <li>@Html.ActionLink("CB Application Transaction", "Index", "CBpplicationTransations")</li>
                                        <li>@Html.ActionLink("Beneficiary Group Validity Transaction", "Index", "BeneficiaryGroupValidityTransactions")</li>
                                        <li>@Html.ActionLink("Beneficiary Application Rejected Transaction", "Index", "bnBeneficiaryApplicationRejectedTransactions")</li>
                                        <li>@Html.ActionLink("Member Transaction", "Index", "MemberTransactions")</li>
                                        <li>@Html.ActionLink("Money Dependant Transaction", "Index", "MoneyDependantTransactions")</li>
                                        <li>@Html.ActionLink("M Rec Transaction", "Index", "MRecTransactions")</li>
                                        <li>@Html.ActionLink("Payment Transactions", "Index", "PaymentTransactions")</li>
                                        <li>@Html.ActionLink("Nom Transaction", "Index", "NomTransactions")</li>
                                        <li>@Html.ActionLink("Rec Transaction", "Index", "RecTransactions")</li>
                                        <li>@Html.ActionLink("Transaction Control", "Index", "TransactionControls")</li>
                                        <li>@Html.ActionLink("Transaction Stem", "Index", "TransactionStems")</li>
                                        <li>@Html.ActionLink("T Nom Transaction", "Index", "TNomTransactions")</li>

                                    </ul>

                                </li>

                                <li class="dropdown-submenu">


                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions Second <img style="vertical-align:middle;width:10px; height:10px" alt="" src="~/Content/Images/go-next-view.png"></a>
                                    <ul class="dropdown-menu">

                                        <li>@Html.ActionLink("School Transaction", "Index", "SchoolTransactions")</li>
                                        <li>@Html.ActionLink("GRE Transaction", "Index", "GRETransactions")</li>
                                        <li>@Html.ActionLink("G Transaction Control", "Index", "GTransactionControls")</li>
                                        <li>@Html.ActionLink("G Transaction Stem", "Index", "GTransactionStems")</li>
                                        <li>@Html.ActionLink("Member SIP Transaction", "Index", "MemberSIPTransactions")</li>
                                        <li>@Html.ActionLink("Member Q Transaction", "Index", "MemberQTransactions")</li>
                                        <li>@Html.ActionLink("Member Statement Transaction", "Index", "MemberStatementTransactions")</li>
                                        <li>@Html.ActionLink("General Beneficiary Index Transaction", "Index", "GeneralBeneficiaryIndexTransactions")</li>
                                        <li>@Html.ActionLink("General C Pay Transaction", "Index", "GeneralCPayTransactions")</li>
                                        <li>@Html.ActionLink("C Pay Transaction", "Index", "CPayTransactions")</li>
                                        <li>@Html.ActionLink("CRE Transaction", "Index", "CRETransactions")</li>
                                        <li>@Html.ActionLink("C Transaction", "Index", "CTransactions")</li>
                                        <li>@Html.ActionLink("C Transaction Control", "Index", "CTransationControls")</li>
                                        <li>@Html.ActionLink("Cun Claim Transaction", "Index", "CunClaimTransactions")</li>
                                        <li>@Html.ActionLink("D Beneficiary Index Transaction", "Index", "DBeneficiaryIndexTransactions")</li>

                                    </ul>

                                </li>


                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Update Transactions <img style="vertical-align:middle;width:10px; height:10px" alt="" src="~/Content/Images/go-next-view.png"></a>
                            <ul class="dropdown-menu">

                                <li>@Html.ActionLink("UpdateCapTransaction", "Index", "UpdateCapTransactions")</li>
                                <li>@Html.ActionLink("UpdateNomTransaction", "Index", "UpdateNomTransactions")</li>
                                <li>@Html.ActionLink("UpdatePensionTransaction", "Index", "UpdatePensionTransactions")</li>
                                <li>@Html.ActionLink("UpdateRecTransaction", "Index", "UpdateRecTransactions")</li>

                            </ul>
                        </li>

                    </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Others<b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">First Set <img style="vertical-align:middle;width:10px; height:10px" alt="" src="~/Content/Images/go-next-view.png"></a>

                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Badge", "Index", "Badges")</li>
                                        <li>@Html.ActionLink("Badge Availability Fields", "Index", "BadgeAvailabiltyFields")</li>
                                        <li>@Html.ActionLink("Balance Check", "Index", "BalanceChecks")</li>
                                        <li>@Html.ActionLink("Batch Stem", "Index", "BatchStems")</li>
                                    </ul>

                                </li>

                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Second Set <img style="vertical-align:middle;width:10px; height:10px" alt="" src="~/Content/Images/go-next-view.png"></a>

                                    <ul class="dropdown-menu">

                                        <li>@Html.ActionLink("Best Five Years", "Index", "BestFiveYears")</li>
                                        <li>@Html.ActionLink("Birth Stem", "Index", "BirthStems")</li>
                                        <li>@Html.ActionLink("Capture Death", "Index", "CaptureDeaths")</li>
                                        <li>@Html.ActionLink("Cash Denomination", "Index", "CashDenominations")</li>
                                        <li>@Html.ActionLink("CB Batch", "Index", "CBBatchs")</li>
                                        <li>@Html.ActionLink("CBB Batch", "Index", "CBBBatchs")</li>
                                        <li>@Html.ActionLink("Cemp D. Name", "Index", "cemp_dnames")</li>
                                        <li>@Html.ActionLink("Cemp Name", "Index", "cemp_names")</li>
                                        <li>@Html.ActionLink("cemp Trn", "Index", "cemp_trns")</li>
                                        <li>@Html.ActionLink("Cheque Stem", "Index", "ChequeStems")</li>

                                    </ul>
                                </li>

                            </ul>
                        </li>


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">System Admin <b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li>@Html.ActionLink("Pension Log", "Index", "PensionLogs")</li>
                                <li>@Html.ActionLink("SSNNo Log", "Index", "SSNNoLogs")</li>
                                <li>@Html.ActionLink("Member Online Log", "Index", "MemberOnlineLogs")</li>
                                <li>@Html.ActionLink("Export DataLog", "Index", "ExportDataLogs")</li>
                                <li>@Html.ActionLink("Beneficiary Transaction Log", "Index", "BeneficiaryTransactionLogs")</li>
                                <li>@Html.ActionLink("Beneficiary Transaction Log Details", "Index", "BeneficiaryTransactionLogDetails")</li>

                                <li>@Html.ActionLink("Government Category", "Index", "GovernmentCategories")</li>

                                <li>@Html.ActionLink("Bank", "Index", "Banks")</li>
                                <li>@Html.ActionLink("Branch", "Index", "Branchs")</li>

                                <li>@Html.ActionLink("Chiefdom", "Index", "Chiefdoms")</li>

                                <li>@Html.ActionLink("District", "Index", "Districts")</li>
                                <li>@Html.ActionLink("Province", "Index", "Provinces")</li>

                                <li>@Html.ActionLink("Company Settings", "Index", "CompanySettings")</li>
                                <li>@Html.ActionLink("Digital Archieve", "Index", "DigitalArchieves")</li>
                                <li>@Html.ActionLink("Account Manager", "Index", "MainLogins")</li>
                                <li>@Html.ActionLink("Zone Code", "Index", "ZoneCodes")</li>
                                <li>@Html.ActionLink("User Groups", "Index", "UserGroups")</li>

                            </ul>
                        </li>

                        <li class="newLoginButton" style="background-color:whitesmoke;">@Html.ActionLink("LogOff", "LogOff", "Accounts")</li>

                    </ul>

                    @Html.Partial("_LoginPartial")

                    </div>*@

        </div>

</body>
</html>


@*<div class='title'>
        <a href="@Url.Action("Home", "Pages")">NAPSOMIS Webpoint</a>
        <p class="small">Mobile friendly</p>
    </div>
    <div class="panelContent">
        <div class="pull-right">
            <div class="panelItem">
                @Html.DevExpress().Menu(m => {

                    m.Name = "NavMenu";
                    m.EnableAnimation = true;
                    m.ControlStyle.CssClass = "navMenu";
                    m.Styles.Item.Paddings.PaddingLeft = 22;
                    m.Styles.Item.Paddings.PaddingRight = 22;

                    m.Items.Add("HOME").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Pages", Action = "Home" });
                    m.Items.Add("NASSIT BLOG").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Pages", Action = "BlogTimeline" });
                    m.Items.Add("CONTACT US").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Pages", Action = "Contacts" });
                    m.Items.Add("LOGIN").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Pages", Action = "Contacts" });

           }).GetHtml()
            </div>
            @if(ViewBag.ShowSearchEditor == null || ViewBag.ShowSearchEditor) {
            <div class="panelItem">
                <script>
                    function OnSearchKeyUp(s, e) {
                        if(e.htmlEvent.keyCode == 13) {
                            OnSearchClick();
                        }
                    }
                    function OnSearchClick(){
                        $('#searchForm').submit();
                    }
                </script>
                @using(Html.BeginForm("Search", "Pages", FormMethod.Post, new { id = "searchForm" })) {
                    Html.DevExpress().ButtonEdit(be => {
                        be.Name = "Query";
                        be.Properties.NullText = "Search in blog";
                        be.ControlStyle.CssClass = "searchBox";
                        be.Properties.ButtonStyle.CssClass = "glyphicon glyphicon-search searchBoxButton";
                        be.Properties.Buttons.Add();
                        be.Properties.ClientSideEvents.ButtonClick = "OnSearchClick";
                        be.Properties.ClientSideEvents.KeyUp = "OnSearchKeyUp";
                    }).Render();
                }
            </div>
            }
        </div>
        <div class="clearfix"></div>
    </div> *@
